

body {
    font-family: arial, sans-serif;
    background-color: cornflowerblue;
}

.content {
    background-color: cornflowerblue;
    font-size: 14px;
    grid-area: content;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-top: 120px;
    grid-template-areas:
    ". header ."
    ". buttons ."
    ". scoreboard ."
    ". roundResults ."
}


#score {
    color: white;
}

.buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 15px;
    margin: 10px 10px;
    line-height: 25px;
    height: 36px;
    color: black;
    text-align: center;
    min-width: 65px;
}

#results {
    padding: 20px 0px;
    grid-area: scoreboard; 
    font-size: 14px;
    text-align: center;
}

#heading {
    color: yellow;
    grid-area: header;
    font-size: 33px;
    text-align: center;
}

.buttons {
    grid-area: buttons;
    justify-items: center;
}


.buttons button:hover {
    color: black;
    border: 1px solid rgb(129, 133, 138);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: linear-gradient(top,#a5c6ff,#c7d0e0);   
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

#roundResults {
    grid-area: roundResults;
    color: yellow;
}